@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


*, *::after, *::before {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.bg-img{
  background-image: url("./images/pattern-bg.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1.5em;
  height: 200px;
}

.input{
  background-color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px 8px;
  width: 450px;
}

.goBtn{
  padding: 10px 16px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: black;
  margin-left: -42px;
}

.goBtn:hover{
  background-color: #3f3f3f;
  cursor: pointer;
}
.container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form{
  margin: 1.5em;
}

.tab{
  width: 700px;
  display: flex;
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  position: absolute;
  margin-top: 125px;
}

.tab > .tab-child:not(:last-child){
  border-right: 1px solid black;
  border-color: hsl(0, 0%, 59%);
}
.tab > .tab-child{
 margin-left: 1em;
}

.tab-child{
  width: 25%;
  justify-content: space-around;
}

.min-sec{
  color: hsl(0, 0%, 59%);
  font-size: .7em;
  font-weight: 500;
}

.indexes{
  font-weight: 700;
  font-size: 1.1em;
}

.h1 {
  color: #fff;
  font-weight: 400;
  font-size: 2em;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 768px) {
  .h1{
    font-size: 1.5em;
  }
  .input{
    padding: 9px 14px;
/*     width: 350px; */
  }
  .goBtn {
    padding: 9px 14px;
    margin-left: -42px;
  }
  .bg-img {
    height: 150px;
  }
  .search-form{
    margin: 1em;
  }
  .tab{
    width: 95%;
    padding: .9em;
    margin-top: 95px;
  }
  .tab > .tab-child{
   margin-left: .9em;
  }
  .min-sec{
    font-size: .6em;
    font-weight: 500;
  }

  .indexes{
    font-size: .9em;
  }
}
@media only screen and (max-width: 600px) {
  .search-form{
    width: 90%;
    max-width: 350px;
    margin: 0.7em;
  }
  .input{
    padding: 9px 14px;
    width: 100%;
    
  }
  .goBtn{
    margin-left: -39px;
  }
  .tab{
    margin-top: 87px;
  }
  .tab > .tab-child {
    margin-left: .4em;
  }
  .indexes {
    font-size: .7em;
  }
  
}
@media only screen and (max-width: 375px){
  .bg-img{
    height: 180px;
  }
  .tab {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .tab > .tab-child:not(:last-child){
    border-right: none;
  }
  .tab-child{
    width: 100%;
    text-align: center;
  }
  .tab > .tab-child {
    margin-left: 0em;
  }
  .indexes {
    font-size: .8em;
  }
}